.cart{
padding-top: 20px;
padding-bottom: 20px
}
.cart-container {
  background-color: #05055f;
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 600px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}
.event-header {
  text-align: center;
  margin-bottom: 20px;
}

.event-banner {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
}

.event-title {
  font-size: 22px;
  font-weight: bold;
  margin: 5px 0;
}

.event-details {
  font-size: 14px;
  color: #ffffff;
}

.cart-title {
  text-align: center;
  margin-bottom: 15px;
}

.cart-items {
  border-bottom: 1px solid rgba(10, 31, 68, 0.2);
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 80px 60px 80px;
  align-items: center;
  margin-bottom: 8px;
}

.ticket-type {
  font-weight: bold;
}

.ticket-amount,
.ticket-subtotal {
  text-align: right;

}

.ticket-qty {
  width: 50px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
}

.coupon-section {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.coupon-section input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.apply-btn {
  background-color: #0a1f44;
   color:white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.apply-btn:hover {
  background-color: #143066;
}

.coupon-message {
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
}
.total-section {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  background-color:rgb(5, 5, 70);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: rgb(90, 87, 139);
}
