#footer1{
    background-color: #0A075F;
    max-width: 1440px;
    min-height: 430px;
}
.div-global{
    color: white;
    font-style:normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
}