 header{
    position: absolute;
    width: 100%;
 }
 nav a {
     text-decoration: none;
     color: white;
 }

 nav {
     display: flex;
     justify-content: space-between;
     font-family: 'DM Sans', sans-serif;
     font-size: medium;
     font-weight: 16px;
     padding-top: 20px;
     align-items: center;
 }

 nav ul {
     flex: 70%;
     display: flex;
     justify-content: space-evenly;
     list-style-type: none;
    align-items: center;
 }

 .logo {
     flex: 30%;
 }

 nav button{
      width: 110px;
     min-height: 50px;
     border-radius: 25px;
     font-family: 'DM Sans', sans-serif;
     font-size: medium;
   border:1px solid white
   
    

 }

 /* banner css */
 #banner {

     background-image: url('../assets/images/banner.png');
     min-height: 500px;
     background-repeat: no-repeat;
     background-size: cover;
     padding-top: 70px;
     color: white;
 }

 .bannerdiv {
     display: flex;
     justify-content: space-between;
     padding-top: 30px;

 }

 .bannerleft {

     max-width: 600px;
     min-height: 476px;
     padding-top: 30px;
 }

 .bannerleft img {
     object-fit: contain;
     width: 100%;

 }

 .bannerright h3 {
     font-family: 'Proxima Nova', sans-serif;
    max-width: 360px;
    min-height: 94px;
  font-size: xx-large;
  font-weight: lighter;
    word-spacing: 5px;
 }

 .bannerright p {
     font-family: 'Proxima Nova', sans-serif;
     font-size: 18px;
   padding-top: 20px;
    padding-bottom: 30px;
    max-width: 420px;
    
 }

 .bannerright button {
     width: 150px;
     min-height: 50px;
     border-radius: 30px;
     font-family: 'DM Sans', sans-serif;
     font-size: 18px;
     background-color: #F5167E;
     border: none;
    margin-right: 10px;
    color: white;
 }
.btnleanmore{
    background-color: transparent;
    border: 1px solid rgb(250, 246, 246);
}
 .bannerright {
     padding-top: 80px;
     text-align: justify;
 }