.bannerticket{
    background-image: url('../../public/images/ticket-banner.png');
    min-height: 300px;
  background-size: cover;
}
/* Event list all section */
.eventListGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
   
    padding: 10px 0px;
}
.Cards-event-list{
   min-height: 350px; 
   max-width: 350px;
   border: 1px solid rgb(223, 218, 218);
   font-family: 'Poppins', sans-serif;;
   border-radius: 5px;
   
}
.gridimgDiv{
    min-height: 250px;
    width: 100%;

}
.gridimgDiv img{
    object-fit: contain;
    width: 100%;
}
.gridimgDiv label{
font-family: 'Poppins', sans-serif;

/* margin-bottom: 10px; */

}
.flexlastgrid{
    display: flex;
    justify-content: space-between;
    background-color: rgb(179, 176, 176);
    min-height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  align-items: center;
}

/* event website status */
.secSitestatus{
background-color: brown;
}
.flexstatus{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 250px;
    color: white;
    font-family: sans-serif;
}
.flexstatus label {
    margin-right: 10px;
    
    font-size: 38px;
    font-weight: bold;
}
.flexstatus p{
    margin-top: 10px;
     font-size: 30px;
    font-weight: bold;
}
.flexdivs{
    text-align: center;
}
i{
    font-size: 40px;
    
}
/* mobile app section */
#SecMobileapp{
  background-color: black
}
.flexMobileApp{
    display: flex;
   justify-content:normal;
    padding-top: 40px;
    min-height: 500px;
    gap:20px
}
.DivsFlexmobile{
 flex-basis: 50%;
 
    height: 250px;
    background-color: rgb(248, 248, 252);
}
/* why to host with us section */
.whyhostGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:10px;
    padding-top: 30px;
}
.whyhostcards{
    min-height: 350px;
    max-width: 350px;
 
}
      
.whytohoostimgDiv{
    min-height: 150px;
    padding-top: 20px;
  display: flex;
  justify-content: center;
}
.whytohoostimgDiv img{
    object-fit: cover;
    height: 100%;
}
.whytohost h2{
      margin-top: 50px;
         color:rgb(21, 21, 99);
            font-weight: bolder;
        
              text-align: center;
             font-family: 'Poppins', sans-serif;;
}
.whyhostcards h5{
    font-weight: 600 !important;
    font-weight: bolder;
       font-family: 'Poppins', sans-serif;;
       text-align: center;
       font-size: 17px;
       margin-bottom: 10px;
}
.whyhostcards p{
  font-size: 15px;
     font-family: 'Poppins', sans-serif;;
         line-height: 2 !important;
 font-family: 'Poppins', sans-serif;;
 text-align:center;
}
.button-whytohost{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}
.button-whytohost button{
    padding: 10px 20px;
    color: white;
    background-color: rgb(228, 32, 32);
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;;
}