.bannerticket{
    background-image: url('../../public/images/ticket-banner.png');
    min-height: 300px;
  background-size: cover;
}
/* Event list all section */
.eventListGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    border: 1px solid black;
    padding: 10px 0px;
}
.Cards-event-list{
   min-height: 350px; 
   max-width: 350px;
   border: 1px solid black;
   font-family: 'Poppins', sans-serif;;
   
}
.gridimgDiv{
    min-height: 250px;
    width: 100%;

}
.gridimgDiv img{
    object-fit: contain;
    width: 100%;
}
.gridimgDiv label{
font-family: 'Poppins', sans-serif;
font-weight: 1.2rem;

}

/* event website status */
.secSitestatus{
background-color: brown;
}
.flexstatus{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 250px;
    color: white;
    font-family: sans-serif;
}
.flexstatus label {
    margin-right: 10px;
    
    font-size: 38px;
    font-weight: bold;
}
.flexstatus p{
    margin-top: 10px;
     font-size: 30px;
    font-weight: bold;
}
.flexdivs{
    text-align: center;
}
i{
    font-size: 40px;
    
}
/* mobile app section */
#SecMobileapp{
  background-color: black
}
.flexMobileApp{
    display: flex;
   justify-content:normal;
    padding-top: 40px;
    min-height: 500px;
    gap:20px
}
.DivsFlexmobile{
 flex-basis: 50%;
 
    height: 250px;
    background-color: rgb(248, 248, 252);
}